<mat-card class="detail-card">
  <mat-card-header>
    <div mat-card-avatar class="detail-header-image" [style.background-image]="bgImage"></div>
    <mat-card-title>{{category?.header_title}}</mat-card-title>
    <mat-card-subtitle>{{category?.title}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="category?.banner_img" alt="category image icon">
  <mat-card-content>
    <p>{{category?.submit_text}}</p>
    <h3>Top 5 comments of the subreddit:</h3>
    <ul>
      <li *ngFor="let comment of topComments"><a [href]="comment.url">{{comment.title}}</a></li>
    </ul>
  </mat-card-content>
</mat-card>
